{% extends 'page.html.twig' %}

{% block css %}
  {{ css('datatables') }}
  {{ css('toastr') }}
{% endblock %}

{% block content %}
<div class="box-header">
  <h3 class="box-title">Listar Clientes</h3>
  <a href="#" class="{{ btnnew }} pull-right" onClick="onNew();"><i class="fa fa-plus"></i> Novo</a>
</div>
<table class="{{ datatable_class }}" id="grid" data-page-length='{{ limit_data }}'>
  <thead>
    <tr>
      <th>Código</th>
      <th>Empresa</th>
      <th>Nome Resumido</th>
      <th></th>
    </tr>
  </thead>
  <tbody>  
        {% for grid in clientes %}
            <tr>
                <td>{{ "%04d"|format(grid.id) }}</td>
                <td>{{ grid.nmcliente }}</td>
                <td>{{ grid.descricao }}</td>
                <td>
                    <div class="btn-group">
                        <div class="btn-group">
                            <button  type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-th"></i> Ação</button>
                            <ul class="dropdown-menu pull-left">
                                  <li>
                                      <a href="{{ url('/contratos/view') }}/{{  grid.id }}" alt="Visualizar contratos"><i class="fa fa-bullseye fa-fw"></i> Contratos</a>
                                  </li>
                                  <li>
                                      <a href="#" onClick="onEdit(event,{{ grid.id }})" ><i class="{{ iconedit }}"></i> Editar</a>
                                  </li>
                                  <li>
                                      <a href="#" onclick="handleDelete(event,'cliente', {{ grid.id }});" ><i class="{{ iconexc }}"></i> Excluir</a>
                                  </li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
  </tbody>
</table>

<!-- modal -->
<form class='form' action="{{ url('/cliente') }}" id='formcliente' enctype="multipart/form-data">
<div class="modal fade" tabindex="-1" role="dialog" id="formmodal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Clientes</h4>
      </div>
      <div class="modal-body">
          
          <input type="hidden" name="id" id="id">
          <div class='row'>
              <div class='col-md-12'>
                 <div class='form-group'>
                  <label for='nmcliente'>Nome cliente</label>
                  <input type='text' class='form-control' name='nmcliente' id='nmcliente' required/>
                </div>
              </div>
          </div>

          <div class='row'>
                <div class='col-md-12'>
                    <div class='form-group'>
                        <label for='descricao'>Nome Resumido</label>
                        <input type='text' class='form-control' name='descricao' id='descricao' required/>
                    </div>
                </div>
          </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="{{ iconclose }}"></i> Fechar</button>
        <button type="submit" class="{{ btnsave }}" ><i class="{{ iconsave }}"></i> Salvar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</form>
{% endblock %}

{% block js %}
  {{ js('datatables') }}
  {{ js('validate') }}

  <script>
    const onNew = () => {
        document.querySelector('#id').value = ''; 
        document.querySelector('#formcliente').reset();
        $('#formmodal').modal();
    }

    const onEdit = (event, id) => {
      handleEdit(event, 'cliente', id )
      .then( (response) => {
          const {descricao, id, nmcliente } = response.result;
          document.querySelector('#id').value = id;
          document.querySelector('#descricao').value = descricao;
          document.querySelector('#nmcliente').value = nmcliente;
          $('#formmodal').modal();
      });
    }
    
    const form = document.querySelector('#formcliente');
    form.addEventListener('submit', (event) => {
      event.preventDefault();

      if(document.querySelector('#nmcliente').value == ''){
        bootbox.alert('<strong>Nome do cliente</strong> não pode ficar em branco');
        return;
      }

      if(document.querySelector('#descricao').value == ''){
        bootbox.alert('<strong>Descrição</strong> não pode ficar em branco');
        return;
      }

      handleStore(event, 'cliente', '#formcliente');
    })

    $(document).ready(function(){
       var table = $('#grid').DataTable({
          responsive: true,
          dom: 'Bfrtip',
          buttons: [
              'excel',
              'pdf',
              'print',
          ],
          language: {
            url: '{{ assets('bower_components/datatables.net/js/Portuguese-Brasil.json') }}'
          }
        });
    })

  </script>
{% endblock %}