{% extends 'page.html.twig' %}

{% block css %}
    {{ css('datatables') }}
    {{ css('select2') }}
     <style>
        tr.group{
            background-color: #006C38 !important;
            color: white;
            width: 100vh;
        };
        tr.group:hover {
            text-decoration: underline;
        }

        .modal-dialog-full {
            height: 92% !important;
            padding: 0;
        }

        .modal-content-full {
            height: 99% !important;
        }

        iframe{
            height: 100%;
            width: 100%;
        }

    </style>
{% endblock %}

{% block content %}
    <div class="box-header">
        <h3 class="box-title">Etiquetas</h3>
        <a href="#" class="{{ btnnew }} btnnew pull-right"><i class="{{ iconnew }}"></i> Novo</a>
    </div>
    <table class="{{ datatable_class }}" id="grid" data-page-length='100'>
        <thead>
        <tr>
            <th>Cliente</th>
            <th>Contrato</th>
            <th>Hibrido</th>
            <th>Setor Responsável</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
            {% for e in etiquetas %}
            <tr>
                <td>{{ "%04d"|format(e.idcliente) }} :: {{ e.nmcliente }}</td>
                <td>{{ e.numcontrato }}</td>
                <td>{{ e.hibrido }}</td>
                <td>{{ e.setor == 'R' ? 'RECEBIMENTO' : 'TORRE' }}</td>
                <td>
                    <a href="{{ url('/etiqueta/list/cliente') }}/{{ e.idcliente }}/contrato/{{ e.idcontrato }}/setor/{{ e.setor }}" class="btn btn-sm btn-flat btn-primary btnprint"><i class="{{ iconprint }}"></i> Visualizar</a>
                    <a href="#" onClick="imprimirTodas('{{ e.idcliente }}','{{ e.idcontrato }}','{{ e.setor }}');" class="{{ btnprint }} btnview"><i class="{{ iconprint }}"></i> Imprimir todas</a>
            </tr>

                </td>
            {% endfor %}
        </tbody>
    </table>

    <!-- modal -->
    <form class='form' id='form' method="post" action="{{ url('/etiquetas')}}">
    <div class="modal fade" tabindex="-1" role="dialog" id="formmodal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Modal title</h4>
                </div>
                <div class="modal-body">

                        <div class='row'>
                            <div class='col-md-12'>
                                <div class='form-group'>
                                    <label for='idcliente'>Cliente</label>
                                    <select class='form-control' name='idcliente' id='idcliente' required >
                                            <option value="" readyonly style="text-transform: uppercase">SELECIONE UM CLIENTE</option>
                                        {% for cliente in clientes %}
                                            <option value="{{ cliente.id }}">{{ "%04d"|format(cliente.id) }} &raquo {{ cliente.nmcliente }} </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class='row'>
                            <div class='col-md-9'>
                                <div class='form-group'>
                                    <label for='idcontrato'>Contrato / Hibrido </label>
                                    <select class='form-control' name='idcontrato' id='idcontrato'  >

                                    </select>
                                </div>
                            </div>

                            <div class='col-md-3'>
                                <div class='form-group'>
                                    <label for='numetiquetas'>Qde p/ Gerar</label>
                                    <input class='form-control' type='number' name='numetiquetas' id='numetiquetas' value="1" minlength="1" required />
                                </div>
                            </div>
                        </div>

                        <div class='row'>
                             <div class='col-md-2'>
                                <div class='form-group'>
                                    <label for='operador'>Operador</label>
                                    <input class='form-control' name='idoperador' id='idoperador' >
                                    <span class="nameOperador"></span>
                                </div>
                            </div>

                            <div class='col-md-4'>
                                <div class='form-group'>
                                    <label for='operador'>Nome</label>
                                    <input class='form-control' disabled name='operador' id='operador' required >
                                    <span class="nameOperador"></span>
                                </div>
                            </div>

                            <div class='col-md-6'>
                                <div class='form-group'>
                                    <label for='setor'>Setor Responsável</label>
                                    <select class='form-control' name='setor' id='setor' >
                                        <option value="R">Recebimento</option>
                                        <option value="T">Torre</option>
                                    </select>
                                </div>
                            </div>

                
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary btn-save">Salvar</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    </form>

    <!-- visualizar etiquetas -->
    <div class="modal fade" tabindex="-1" role="dialog" id="preview">
        <div class="modal-dialog modal-dialog-full" role="document">
            <div class="modal-content modal-content-full modal-lg">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Visualizar etiquetas</h4>
                </div>
                <div class="modal-body">
                    <iframe width='100%' height='400' style="border: 1px solid #eee" src="http://localhost/d5"></iframe>
                </div>
                 <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}

    {{ js('datatables') }}
    {{ js('select2') }}

    <script>

       fieldOperador = document.querySelector('#idoperador');
       fieldOperador.addEventListener('change',(event) => {
           count = fieldOperador.value;
           if( count.length >= 3){
            getOperator(event, '#idoperador','#operador')
           }
       });

       
       const imprimirTodas = (cliente, contrato, setor) => {
           const url = `{{ url_base }}/etiquetas/imprimir/cliente/${cliente}/contrato/${contrato}/setor/${setor}`;

           const newWindow = window.open(url,'Visualizar etiquetas','scrollbars=yes');
           if(window.focus){
               newWindow.focus();
           }

       }

       const form = document.querySelector('#form');
       form.addEventListener('submit', (event) => {
           event.preventDefault();

           if(document.querySelector('#idcontrato').value == ''){
                bootbox.alert('Campo <strong>Contrato/Híbrido</strong> obrigatório');
                return;
           }

           if(document.querySelector('#idoperador').value == ''){
                messagebox.error('Campo <strong>Operador</strong> obrigatório');
                return;
           }

           if(document.querySelector('#setor').value == ''){
                 messagebox.error('Campo <strong>Setor Responsável</strong> obrigatório')
                return;
           }

           if(document.querySelector('#operador').value == ''){
                 messagebox.error('<strong>Código do operador inválido</strong>')
                return;
           }

           const data = handleStore(event, 'etiquetas','#form','#formmodal', false ) 

           bootbox.confirm({
               title: 'IMPRESSÂO',
               message: `
                <div class='row'>
                    <div class="col-md-2"><i class="fa fa-print fa-4x"></i></div>
                    <div class="col-md-10"><h4>Deseja <strong>imprimir</strong> as etiquetas agora ?</h4></div>`,
               buttons:{
                   confirm: {
                       label: 'Imprimir',
                       className: 'btn-success'
                   },
                   cancel:{
                       label: 'Sair sem imprimir',
                       className: 'btn-danger'
                   }
               },
               callback: function(result){
                   if(result){
                       alert('imprimindo..');
                   }
               }
           })
       })

       $(document).ready(function(){

           $('#idcliente').select2({
               width: '100%',
               placeholder: 'Selecione o cliente',
               minimumInputLength: 3,
           });

           var groupColumn = 1;
           var table = $('#grid').DataTable({
               responsive: true,
                dom: 'Bfrtip',
                buttons: [
                    'excel',
                    'pdf',
                    'print',
                ],
               language: {
                   url: '{{ assets('bower_components/datatables.net/js/Portuguese-Brasil.json') }}'
               },
                "columnDefs": [
                    { "visible": false, "targets": groupColumn }
                ],
                "order": [[ groupColumn, 'asc' ]],
                "drawCallback": function ( settings ) {
                    var api = this.api();
                    var rows = api.rows( {page:'current'} ).nodes();
                    var last=null;

                    api.column(groupColumn, {page:'current'} ).data().each( function ( group, i ) {
                        if ( last !== group ) {
                            $(rows).eq( i ).before(
                                '<tr class="group"><td colspan="5"><u>Contrato:</u> <strong>'+group+'</strong></td></tr>'
                            );

                            last = group;
                        }
                    } );
                }
            });
          
        
            $('#grid tbody').on( 'click', 'tr.group', function () {
                var currentOrder = table.order()[0];
                if ( currentOrder[0] === groupColumn && currentOrder[1] === 'asc' ) {
                    table.order( [ groupColumn, 'desc' ] ).draw();
                }
                else {
                    table.order( [ groupColumn, 'asc' ] ).draw();
                }
            } );

           $('.btnnew').click(function(e){
               e.preventDefault();
               $('.modal-title').html('Gerar etiquetas');
               $('#formmodal').modal('show');
               $('#idcontrato').html('');
               $('#idcontrato').val('');
               $('#idcliente').val(null).trigger('change');
               $('#setor').val('');
               $('#idoperador').val('');
               $('#operador').val('');
               $('#numetiquetas').val('1');
               $('#formmodal').on('shown.bs.modal', () => {
                  $('#idcliente').focus();
               });
               return false;
           })

           $('#idcliente').change(function(){

               verificarlogin();

               $.ajax({
                   url: "{{ url('/etiqueta/search/contrato') }}",
                   method: 'POST',
                   data: { id: $(this).val()},
                   dataType: 'HTML',
                   success: (data) => {
                       $('#idcontrato').html(data);
                   }
               })
           })

    })
    </script>

{% endblock %}