{% extends 'page.html.twig' %}

{% block css %}
  {{ css('datatables') }}
  {{ css('toastr') }}
  {{ css('icheck') }}
{% endblock %}

{% block content %}
<div class="box-header">
  <h3 class="box-title">Cadastramento de safra</h3>
  <button type="button" onClick="onNew();" class="{{ btnnew }} pull-right"><i class="{{ iconnew }}"></i> Novo</button>
</div>
<table class="table table-bordered table-striped dataTable" id="grid" data-page-length='100'>
  <thead>
    <tr>
      <th>Descricao</th>
      <th>Finalizado</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>  
        {% for data in datas %}
            <tr>
                <td>{{ data.descricao }}</td>
                <td>
                  <div class="icheckbox_flat-green {{ data.finalizado == 'S' ? 'checked' : '' }}" aria-checkbox="{{ data.finalizado == 'S' ? 'true' : 'false' }}" aria-disabled="true">
                    <input type="checkbox" class="minimal" disabled {{ data.finalizado == 'S' ? 'checked' : '' }}/>
                  </div>
                </td>
                <td>
                    <div class="btn-group">
                        <button  type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-th"></i> Ação</button>
                        <ul class="dropdown-menu pull-left">
                              <li>
                                  <a href="#" onclick="onEdit(event, {{ data.id }})">
                                      <i class="{{ iconedit }}"></i> Editar
                                  </a>
                              </li>
                              <li>
                                  <a href="#" onClick="handleDelete(event,'safra', {{ data.id }});">
                                      <i class="{{ iconexc }}"></i> Excluir
                                  </a>
                              </li>
                        </ul>
                    </div>
                </td>
            </tr>
        {% endfor %}
  </tbody>
</table>

<!-- modal -->
<form class='form' action='{{ url_base }}/safra' id="formSafra" method='post'>
<div class="modal fade" tabindex="-1" role="dialog" id="formmodal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Safra</h4>
      </div>
      <div class="modal-body">
          
              <input type="hidden" name="id" id="id"/>
              <div class="form-group">
                  <label for='descricao'>Descrição</label>
                  <input type='text' class='form-control' name='descricao' id='descricao' required/>
              </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-sign-out fa-fw"></i> Fechar</button>
        <button type="submit" href="#" id="btnsave" class="btn btn-primary"><i class="fa fa-save fa-fw"></i> Salvar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</form>


{% endblock %}

{% block js %}
  {{ js('datatables') }}
  {{ js('validate') }}
  {{ js('toastr') }}
  {{ js('icheck') }}

  <script>

    const onNew = () => {
        document.querySelector('#id').value = ''; 
        document.querySelector('#formSafra').reset();
        $('#formmodal').modal();
    }

    const onEdit = (event, id) => {
      handleEdit(event, 'safra', id )
      .then( (response) => {
          const {descricao, id} = response.result;
          document.querySelector('#id').value = id;
          document.querySelector('#descricao').value = descricao;
          $('#formmodal').modal();
      });
    }
    
    const form = document.querySelector('#formSafra');
    form.addEventListener('submit', (event) => {
      event.preventDefault();

      if(document.querySelector('#descricao').value == ''){
        bootbox.alert('Descrição não pode ficar em branco');
        return;
      }

      handleStore(event, 'safra', '#formSafra');
    })
   
    $(document).ready(function(){
       
       var table = $('#grid').DataTable({
         responsive: true,
          language: {
            url: '{{ assets('bower_components/datatables.net/js/Portuguese-Brasil.json') }}'
          }
      });

      $('input').iCheck({
        checkboxClass: 'icheckbox_flat-green',
        radioClass: 'iradio_square',
        increaseArea: '20%' // optional
      });

    })

    

  </script>
{% endblock %}