{% extends 'page.html.twig' %}

{% block css %}
  {{ css('datatables') }}
{% endblock %}

{% block content %}
<div class="box-header">
  <h3 class="box-title">Listagem de tipos de amostras</h3>
  <a href="#" onClick="onNew();" class="{{ btnnew }} pull-right"><i class="{{ iconnew }}"></i> Novo</a>
</div>
<table class="table table-bordered table-striped dataTable compact" id="grid" data-page-length='{{ limit_data }}'>
  <thead>
    <tr>
      <th>Código</th>
      <th>Descrição</th>
      <th>Setor</th>
      <th></th>
    </tr>
  </thead>
  <tbody>  
        {% for grid in grids %}
            <tr>
                <td>{{ "%04d"|format(grid.id) }}</td>
                <td>{{ grid.descricao }}</td>
                <td>{% if grid.setor == "R"  %}
                        RECEBIMENTO
                    {% else %}
                        TORRE
                    {% endif %}
                </td>
                <td>
                    <div class="btn-group">
                        <div class="btn-group">
                          <button  type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-th"></i> Ação</button>
                          <ul class="dropdown-menu pull-left">
                            <li>
                              <a href="#" onClick="onEdit(event, {{ grid.id }})"><i class="{{ iconedit }}"></i> Editar</a>
                            </li>
                            <li>
                              <a href="#" onClick="handleDelete(event, 'tipo_amostra', {{ grid.id }});"><i class="{{ iconexc }}"></i> Excluir</a>
                            </li>
                          </ul>
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
  </tbody>
</table>

<!-- modal -->
<form class='form' id='formTipo'>
<div class="modal fade" tabindex="-1" role="dialog" id="formmodal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">FORMULÁRIO - TIPO AMOSTRAS</h4>
      </div>
      <div class="modal-body">
        
          <input type="hidden" name="id" id="id">
          <div class='row'>
              <div class='col-md-12'>
                 <div class='form-group'>
                  <label for='descricao'>Descrição</label>
                  <input type='text' class='form-control' name='descricao' id='descricao' />
                </div>
              </div>
          </div>

          <div class='row'>
              <div class='col-md-6'>
                <div class='form-group'>
                  <label for='setor'>Setor</label>
                  <select class='form-control' name='setor' id='setor' >
                      <option value="R">RECEBIMENTO</option>
                      <option value="T">TORRE</option>
                  </select>
                </div>
              </div>

          </div>
         
       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        <button type="submit" class="btn btn-primary btn-save">Salvar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
 </form>

{% endblock %}

{% block js %}
  {{ js('datatables') }}

  <script>
    const onNew = () => {
        document.querySelector('#id').value = ''; 
        document.querySelector('#formTipo').reset();
        $('#formmodal').modal();
    }

    const onEdit = (event, id) => {
      handleEdit(event, 'tipo_amostra', id )
      .then( (response) => {
          const {descricao, id, setor} = response.result;
          document.querySelector('#id').value = id;
          document.querySelector('#descricao').value = descricao;
          document.querySelector('#setor').value = setor;
          $('#formmodal').modal();
      });
    }
    
    const form = document.querySelector('#formTipo');
    form.addEventListener('submit', (event) => {
      event.preventDefault();

      if(document.querySelector('#descricao').value == ''){
        bootbox.alert({title:'ERROR DE VALIDAÇÃO',message:'Descrição não pode ficar em branco'});
        return;
      }

      handleStore(event, 'tipo_amostra', '#formTipo');
    })

    $(document).ready(function(){
       var table = $('#grid').DataTable({
         responsive: true,
          dom: 'Bfrtip',
          buttons: [
              'excel',
              'pdf',
              'print',
          ],
          language: {
            url: '{{ assets('bower_components/datatables.net/js/Portuguese-Brasil.json') }}'
          }
        });
    });
  </script>
{% endblock %}